body {
  background-image: linear-gradient(to right,#000000,#00004d,#000000);
  color: #DEDEDE;
}

#Sim_Header{
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .625rem;
}

.UnitMenu {
  width: 20rem;
  border-style: solid;
  border-width: .125rem;
  border-radius: .625rem;
}
.MenuHeader{
  margin: auto;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: .125rem;
  border-bottom-color: #FFFFFF;
  padding-top: .375rem;
  padding-bottom: .375rem;
  margin-bottom: .625rem;
}
.Menu {
  background-color: rgb(20,20,30);
}
#CharacterSelect {
  padding-left: .375rem;
}
.OptionSet {
  margin-left: .375rem;
}

.EnemyList {
  padding-left: .375rem;
  padding-bottom: .375rem;
  padding-top: .375rem;
}
.enemy_row div{
  display: inline-block;
  margin-bottom: .125rem;
}
.remove_enemy {
  border-style: solid;
  border-width: .125rem;
  border-color: #FFFFFF;
  border-top-left-radius: .625rem;
  border-bottom-left-radius: .625rem;
  padding-left: .375rem;
  padding-right: .25rem;
}
.enemy_name {
  border-style: solid;
  border-width: .125rem;
  border-color: #FFFFFF;
  border-top-right-radius: .625rem;
  border-bottom-right-radius: .625rem;
  padding-left: .25rem;
  padding-right: .25rem;
}

#SimulationOptions, #Filters, #EnemyListContainer {
  border-style: solid;
  border-width: .125rem;
  border-color: #FFFFFF;
  border-radius: .625rem;
  padding-bottom: .375rem;
  margin-top: .625rem;
  margin-bottom: .625rem;
}
.SimOptionsColHeader {
  font-weight: bold;
  margin-bottom: .125rem;
}
.FilterGroup {
  margin-bottom: .5rem;
}
.buttons {
  margin-top: .25rem;
}
.SelectionButton {
  width: 5.5rem;
}

#Results {
  background-color: rgb(20,20,30);
  border-style: solid;
  border-width: .125rem;
  border-color: #FFFFFF;
  border-radius: .625rem;
  margin-bottom: .625rem;
}
#ResultSet {
  padding-left: .375rem;
  margin: auto;
}

/* Media queries */
@media screen and (min-width: 80rem) {
  #Sim_Header {
    width: 86rem;
  }

  #UI {
    position: relative;
    margin: auto;
    width: 86rem;
  }
  .UnitMenu {
    height: 37rem;
    display: inline-block;
    vertical-align: top;
    margin-right: auto;
    margin-right: 1rem;
  }

  #Enemies {
    height: 14rem;
    width: 83rem;
    overflow-y: scroll;
  }
  .enemy_row {
    width: 19rem;
    display: inline-block;
  }

  #SimulationOptions, #Filters, #EnemyListContainer {
    position: relative;
    width: 84.5rem;
  }
  .SimOptions {
    display: inline-block;
    vertical-align: top;
    margin-right: .375rem;
  }
  .SimOptionsColHeader {
    text-align: center;
  }
  .NarrowRow {
    width: 12rem;
  }
  .ColorColumn {
    display: inline-block;
  }
  .FilterCell {
    width: 10rem;
  }

  #ResultsContainer {
    position: relative;
    margin: auto;
    width: 86rem;
  }
  #Results {
    position: relative;
    width: 84.5rem;
  }
}

@media screen and (max-width: 80rem) {
  #PageContent {
    width: 60rem;
  }

  #Sim_Header {
    width: 60rem;
    margin: auto;
  }

  #Simulator {
    width: 60rem;
  }

  #UI {
    width: 21rem;
  }

  #Enemies {
    height: 20rem;
    width: 19rem;
    overflow-y: scroll;
  }

  #SimulationOptions, #Filters, #EnemyStats {
    width: 20rem;
  }
  .SimOptions {
    margin-bottom: .375rem;
  }
  .NarrowRow {
    width: 17rem;
  }
  .FilterCell {
    width: 9rem;
  }

  #ResultsContainer {
    width: 37rem;
  }

  .Container1 {
    display: inline-block;
    vertical-align: top;
  }
}

/* Sizing for div table elements */
.cell {
  height: 1.5rem;
  vertical-align: top;
}
.row {
  height: 1.5rem;
}
.row div {
  display: inline-block;
}
.row_header {
  width: 6rem;
}
.WideRow {
  width: 17rem;
}
.OptionInputField {
  float: right;
}
.FilterCell {
  display: inline-block;
}
.result_cell {
  display: inline-block;
  width: 12rem;
}

/* Sizing for input fields */
.CharacterSelect {
  width: 13.6rem;
  margin-bottom: .37rem;
}
.Customizer {
  width: 10rem;
}
.Extras {
  width: 2rem;
}

.ShortBox {
  width: 2.25rem;
}
.Select_Extras {
  width: 2.5rem;
}

/* Sizing for skill icons */
.icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}
.weapon_icon {
  display: inline-block;
  vertical-align: top;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 20px;
}
.special_icon {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}
.skill_icon {
  display: inline-block;
  vertical-align: top;
  width: 1.5rem;
}

/* Display settings for toggle-able simulator elements */
.LegAlly {
  display: none;
}
.EnemyLegAlly {
  display: none;
}
.Transformed, .WeapBool, .SpecBool, .ABool, .BBool, .CBool, .SBool, .WeapNum, .SpecNum, .ANum, .BNum, .CNum, .SNum,
.EnemyTransformed, .EnemyWeapBool, .EnemySpecBool, .EnemyABool, .EnemyBBool, .EnemyCBool, .EnemySBool, .EnemyWeapNum,
.EnemySpecNum, .EnemyANum, .EnemyBNum, .EnemyCNum, .EnemySNum {
  display: none;
}
#Optimized_Disclaimer {
  display: none;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 17.5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tempHidden {
  display: none;
}

/* Coloring for the combat log */
.attacker_dmg {
  color: blue;
}
.defender_dmg {
  color: red;
}
