#PageContent {
  width: 1240px;
  margin: auto;
}
#Sim_Header{
  margin: auto;
  width: 1230px;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10px;
}
#UI {
  margin: auto;
}
#results {
  background-color: rgb(20,20,30);
  margin: auto;
  margin-left: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;
}
#ResultSet {
  padding-left: 5px;
}
#CharSkills, #EnemySkills {
  width: 290px;
}
#CharStats, #EnemyStats {
  width: 290px;
}
.OptionsMenu {
  margin-bottom: 10px;
}
.OptionSet {
  margin-left: 5px;
}
.Menu {
  background-color: rgb(20,20,30);
}
.UnitMenu {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.MenuHeader{
  margin: auto;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#CharacterSelect {
  padding-left: 5px;
}
.CharacterSelect {
  width: 207px;
}
#UnitOptions {
  margin-left: 12px;
  padding-left: 2px;
}
#SimulationOptions, #Filters {
  width: 1200px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.SimOptions {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.SimOptionsColHeader {
  font-weight: bold;
  text-align: center;
}
.Customizer {
  width: 175px;
}
.Select_Extras {
  width: 40px;
}
.Extras {
  width: 30px;
}
.cell {
  display: inline-block;
  height: 26px;
}
.row {
  height: 26px;
}
.row_header {
  width: 70px;
}
.results_table {
  width: 1000px;
}
.tempHidden {
  display: none;
}
.log {
  position: relative;
  left: 25px;
}
.attacker_dmg {
  color: blue;
}
.defender_dmg {
  color: red;
}
.ShortBox {
  width: 38px;
}
.Clickable {
  border-style: outset;
  border-color: darkblue;
  background-color: #3D3D3D;
}
.FilterCell {
  width: 180px;
}
.SelectionButton {
  width: 90px;
}
input, select {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-width: 1px;
  text-align: left;
}
input.ShortBox {
  padding-left: 2px;
}
body {
  /*background-image: url(images/_background.jpg);*/
  background-image: linear-gradient(to right,#000000,#00004d,#000000);/*#27004D,#00004d,#000000);*/
  color: #DEDEDE;
}
.icon {
  height: 25px;
  width: 25px;
}
.weapon_icon {
  display: inline-block;
  position: relative;
  width: 185px;
  margin-left: 20px;
}
.special_icon {
  display: inline-block;
  position: relative;
  width: 150px;
}
.skill_icon {
  display: inline-block;
  position: relative;
  width: 25px;
  vertical-align: -15%;
}
.LegAlly {
  display: none;
}
.EnemyLegAlly {
  display: none;
}
.Transformed, .WeapBool, .SpecBool, .ABool, .BBool, .CBool, .SBool, .WeapNum, .SpecNum, .ANum, .BNum, .CNum, .SNum {
  display: none;
}
#Optimized_Disclaimer {
  display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (min-width: 800px) {
  #UI {
    position: relative;
    width: 1230px;
  }
  #results {
    width: 1205px;
  }
  .UnitMenu {
    height: 480px;
  }
}

@media screen and (max-width: 800px) {
  #UI {
    width: 390px;
    height: 1500px;
  }
  #results {
    margin-left: 380px;
    margin-top: -1495px;
    width: 500px;
  }
}
