.cell {
  display: inline-block;
  height: 26px;
}
.row {
  height: 26px;
}
.row_header {
  width: 120px;
}
.results_table {
  width: 1000px;
}
.tempHidden {
  display: none;
}
.log {
  position: relative;
  left: 25px;
}
.attacker_dmg {
  color: blue;
}
.defender_dmg {
  color: red;
}
.Customizer {
  width: 215px;
}
.Extras {
  width: 40px;
}
.ShortBox {
  width: 40px;
}
.Clickable {
  border-style: outset;
  border-color: darkblue;
  background-color: aliceblue;
}
.FilterCell {
  width: 180px;
}
.SelectionButton {
  width: 90px;
}
input, select {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-width: 1px;
  background-color: aliceblue;
  text-align: left;
}
body {
  background-color: aliceblue;
}
.icon {
  height: 25px;
  width: 25px;
}
.weapon_icon {
  display: inline-block;
  position: relative;
  width: 185px;
  margin-left: 20px;
}
.special_icon {
  display: inline-block;
  position: relative;
  width: 150px;
}
.skill_icon {
  display: inline-block;
  position: relative;
  width: 25px;
  vertical-align: -15%;
}
.LegAlly {
  display: none;
}
.EnemyLegAlly {
  display: none;
}
.WeapBool, .SpecBool, .ABool, .BBool, .CBool, .SBool, .WeapNum, .SpecNum, .ANum, .BNum, .CNum, .SNum {
  display: none;
}
#Optimized_Disclaimer {
  display: none;
}
/*#CharHP, #CharAtk, #CharSpd, #CharDef, #CharRes {
  text-align: center;
}*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.skill_icon .skill_desc {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
}

.skill_icon:hover .skill_desc {
  visibility: visible;
}

.weapon_icon .weapon_desc {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
}

.weapon_icon:hover .weapon_desc {
  visibility: visible;
}

.special_icon .special_desc {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
}

.special_icon:hover .special_desc {
  visibility: visible;
}

@media screen and (min-width: 800px) {
  #UI {
    position: relative;
    width: 1170px;
  }
  .MenuBar {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 385px;
    vertical-align: top;
  }
  #results {
    width: 750px;
  }
}

@media screen and (max-width: 800px) {
  #UI {
    width: 390px;
    height: 1500px;
  }
  .MenuBar {
    width: 385px;
  }
  #results {
    margin-left: 380px;
    margin-top: -1495px;
    width: 500px;
  }
  #divider {
    display: none;
  }
}
